header {
    width: 100%;
    height: 100vh;
    background: #999CA1;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    position: relative;
    gap: 40px;
    overflow: hidden;
    padding-top: 50px;
}
/* linear-gradient(black, rgb(186, 47, 186), rgb(186, 47, 186), rgb(186, 47, 186), rgb(186, 47, 186), rgb(186, 47, 186), white);
    background-position: center; */
.Headecomo-div {
    width: 650px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: start;
    border-radius: 20px;
    background-color: white;
    gap: 10px;

}

.Headecomo-div p {
    font-weight: 100;
}

.Container-Headcomo {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;

}


.card-credit .card {
    width: fit-content;
    height: fit-content;
    padding: 10px;
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 10px;
    transition: all ease .5s;
}

.card-credit {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.card:hover {
    border-radius: 10px;
    background-color: #e8e1e1;

}

.card-credit h2 {
    font-size: 13px;
    font-weight: 550;
}

.card-credit p {
    color: #585555;
    font-size: 13px;
    width: 220PX;
    position: relative;
}

.card-credit a {
    font-size: 14px;
    color: #F27D1E;
}

.card-credit img {
    width: 40px;
    height: 40px;

}
.scrollcontainer{
    display: flex;
    gap: 20px;
}


@media only screen and (max-width: 500px) {
    header {
        width: 100%;
        height: 200vh;

    }
    .scrollcontainer{
        display: flex;
        gap: 20px;
        flex-direction: row;
    }
    .Headecomo-div{
        display: flex;
        flex-direction: column;
    }

    
}