.sec-nav {
    width: 100%;
    height: 50px;
    background-color: #373535;
    padding-block-end: 5px;
}


.sec-nav ul {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.dispalynonecontainer {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.div-sec {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.sec-nav hr {
    height: 30px;
    border: 0.5px solid #ffffff6e;
}

.Secnavanker {
    color: #ffffff;
    font-size: 20px;
    padding: 10px;
    transition: all ease .3s;
}

.Secnavanker:hover {
    color: #00f7ff;
    text-decoration: underline;
}


.Secnavbutton {
    border-radius: 55px;
    padding: 10px 25px;
    border: none;
    background-color: #06c5ffea;
    color: white;
    font-size: 16px;
}

.fa-angle-down {
    color: white;
}

.Sec-ankerul {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: all ease .3s;

}

.Sec-anker-ul-li {
    width: 350px;
    position: absolute;
    top: 45px;
    border: 2px solid #06c5ffaa;
    border-radius: 15px;
    display: none;
    transition: all ease .3s;
    flex-direction: column;
    padding-block: 20px;
    padding-inline: 15px;
    background-color: #fff;

}

.Sec-anker-ul-li a {
    font-size: 17px;
    color: black;
    padding: 15px 25px;
    display: flex;
    flex-direction: column;
    gap: 5px;

}

.Sec-anker-ul-li a:hover {
    text-decoration: underline;
}

.Sec-anker-ul-li a>span {
    font-size: 13px;
}

.Sec-anker-ul-li hr {
    width: 95%;
    height: 0.1px;
    border: 1px solid rgb(177, 172, 172);
}

.hr {
    width: 95px;
    border: 0.9px solid rgb(188, 22, 22);
}

.Sec-ankerul:hover .fa-angle-down {
    transform: rotate(180deg);

}

.Sec-ankerul:hover .Sec-anker-ul-li {
    display: flex;
    z-index: 99;

}
.loginh1{
    font-size: 20px;
}

@media only screen and (max-width: 1000px) {

    .div-sec {
        display: none;
    }

    .sec-nav ul {
        height: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 156px;
    }

    .Get-yourcard {
        display: none;
    }

    .dispalynonecontainer {
        display: none;
    }

    .Secnavbutton {
        border-radius: 55px;
        padding: 8px 20px;
        border: none;
        background-color: #06c5ffea;
        color: white;
        font-size: 14px;
    }


}

@media only screen and (max-width: 500px) {
    .Nav-ankar {
        display: flex;
        color: white;
        font-size: 21px;
        align-items: center;
        gap: 5px;
    }

    .login {
        width: 350px;
       
    }

    .login input {
        width: 100%;
        height: 35px;
    }

    .saveid {
        font-size: 14px;
    }

    .loginbutton {
        width: 100%;
        font-size: 15px;
        height: 35px;
    }

    .forget {
        text-align: center;
        width: 50%;
        font-size: 14px;

    }

    .CreateAccount {
        text-align: center;
        width: 50%;
        font-size: 16px;
        color: white;


    }

    .login li {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;

    }
    .loginh1{
        font-size: 20px;
    }
}