.aboutus-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(0, 0, 0, 0.344), rgba(182, 28, 182, 0.629), rgba(128, 0, 128, 0.393), rgba(0, 0, 0, 0.355)), url("https://t4.ftcdn.net/jpg/09/88/47/05/360_F_988470537_LzIRH3qygf8D5hQeUZCZqhphV6ScYEIx.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.Aboutus {
    width: 500px;
    height: 450px;
    border-radius: 20px;
    background-color: rgba(19, 19, 19, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: white;
    padding: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    animation: deep 1.5s ease infinite;
}

@keyframes deep {
    from {
        box-shadow: 0 0 10px 10px rgba(184, 67, 184, 0.7);
    }
    to {
        box-shadow: 0 0 20px 20px rgba(184, 67, 184, 0.3);
    }
}

.Aboutus hr {
    width: 90%;
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.Abouth1 {
    text-align: center;
    width: 90%;
    font-size: 24px;
    font-weight: bold;
}

h2 {
    font-size: 32px;
    margin-bottom: 10px;
}

.Aboutus ul {
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 20px;
}

.Aboutus ul > li {
    font-size: 18px;
    list-style-type: disc;
}

.Aboutus ul li span {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.8);
}